@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #24282F;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

.header {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.character {
  background-color: #3C3E44;
  border-radius: 5px;
	display: flex;
	margin: 20px;
  width: 600px;
  height: 160px;
}

.character img {
  height: 100%;
  object-fit: cover;
}

.description {
  line-height: 1px;
  font-size: 1rem;
  padding: 5px 0px 5px 15px;
}

.description span.alive {
  background-color: #05c405;
  padding: 3px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

.description span.unknown {
  background-color: #c0bfbf;
  padding: 3px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

.description p {
  font-weight: 400;
  font-size: 0.7rem;
  margin-bottom: 30px;
}

.description h6 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #c0bfbf;
}